*{
    margin: 0;
    padding: 0;
}


.baground{
    background: #f8f9fa;
    height: 1250px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
}

.body-stretch {
    margin-left: 0px;
    margin-right: 0px;

}
.header {
    padding: 43px;

}

.header-logo {
    height: 86px;
    width: auto;

}

.header-text-two {

text-align: center;
}

.text-row {
    padding-top: 24px
}
