
*{
    margin: 0px;
    padding: 0px;
}


.row-cards{
    max-width: 1000px;
}
body{
    background-color: rgb(225, 228, 192);
}
.header{
    height: 300px;
}

.navbar a {
    color: rgb(145, 172, 229);
}
.navbar a:hover {
    color: rgb(179, 205, 235);
}
.back-to-top a {
    float: right;
    color: rgb(145, 172, 229);
}
.header{
    background-image:url(images/fondo.jpg);
    background-size: cover;
}

.footer{
    height: 70px;
}
